/**
 * ## Post Author
 */

.author-info {
	@extend %content;
}

.author-info p {
	margin-bottom: 0;
}

.avatar {
	display: block;
	margin: 0 auto 14px;
}

.author-title {
	margin-bottom: 0;
	text-align: center;
}

@mixin author--md() {
	.avatar {
		float: left;
		margin-right: mrem();
		margin-bottom: 0;
	}

	.author-title {
		text-align: left;
	}

	.author-bio {
		clear: both;
	}
	
	.author-description {
		overflow: hidden;
		position: relative;
		top: -6px;
	}
}

@mixin author--lg() {
	.both-sidebar .avatar {
		float: none;
		margin-right: auto;
		margin-bottom: mrem();
	}

	.both-sidebar .author-title {
		text-align: center;
	}
	
	.both-sidebar .author-description {
		top: 0;
	}
}

@mixin author--xl() {
	.both-sidebar .avatar {
		float: left;
		margin-right: mrem();
		margin-bottom: 0;
	}

	.both-sidebar .author-title {
		text-align: left;
	}
	
	.both-sidebar .author-description {
		top: -6px;
	}
}
