/**
 * ## Comments
 */

.comment-respond,
.entry-comments {
	@extend %content;
	font-size: 16px;
}

.comment-list {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.comment-list .children {
	padding-left: mem();
	list-style: none;
}

.comment-inner,
.pingback {
	padding-top: 40px;
	background-color: $content__bg-color;
}

.comments-title {
	background-color: $content__bg-color;
}

.comment-header {
	padding-bottom: 15px;
	border-bottom: 1px solid $border__color;
}

.pingback p,
.comment-content p:last-child {
	margin: 0;
}

.comment-author .avatar {
	float: left;
	margin-right: mrem();
	border-radius: 100%;
}

.bypostauthor .avatar {
	border-color: green;
}

.comment-content {
	clear: both;
	padding: 1em 0;
}

.comment-content a {
	border-bottom: 1px solid currentColor;
}

.comment-content a:hover,
.comment-content a:focus {
	border-bottom: none;
}

.comment-respond {
	clear: both;
}

.comment-reply-link {
	margin-right: 14px;
}

.comment-edit-link {
	display: inline-block;
}

.pingback .comment-edit-link {
	display: block;
}

.no-comments {
	margin-top: mrem();
	padding-left: mem(0.5);
}

@mixin comment--md() {
	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		float: left;
		width: 32%;
	}

	.comment-form-email,
	.comment-form-url {
		margin-left: 2%;
	}
}