/**
 * # Content Sidebar Wrap
 */

@mixin cs--lg() {
	.content-sidebar-wrap {
		display: flex;
		justify-content: space-between;
	}

	.content-sidebar-wrap.no-sidebar {
		justify-content: center;
	}

	.content-area {
		flex: 1;
		min-width: 0; // Prevent chrome overflow.
	}

	.only-content .content-area {
		max-width: 800px;
	}

	.primary-sidebar {
		width: 300px;
	}

	.secondary-sidebar {
		width: 200px;
	}

	.content-sidebar .content-area,
	.content-sidebar-sidebar .content-area,
	.sidebar-content-sidebar .content-area,
	.content-sidebar-sidebar .secondary-sidebar,
	.sidebar-sidebar-content .secondary-sidebar {
		margin-right: 40px;
	}

	.sidebar-content .content-area,
	.sidebar-sidebar-content .content-area,
	.sidebar-content-sidebar .content-area {
		margin-left: 40px;
	}

	.sidebar-content .primary-sidebar,
	.sidebar-sidebar-content .primary-sidebar {
		order: -1;
	}

	.sidebar-sidebar-content .secondary-sidebar,
	.sidebar-content-sidebar .secondary-sidebar {
		order: -2;
	}
}

@mixin cs--xl() {
	.primary-sidebar {
		width: 380px;
	}

	.secondary-sidebar {
		width: 240px;
	}

	.both-sidebar .primary-sidebar {
		width: 300px
	}
}

@mixin cs--xx() {
	.both-sidebar .primary-sidebar {
		width: 380px;
	}
}

@import "main/page-header";
@import "main/post-wrapper";
@import "main/entry";
@import "main/author";
@import "main/comments";
