/**
 * # Content Sidebar Wrap
 */

@mixin cs--lg() {
	.content-sidebar-wrap {
		display: flex;
		justify-content: space-between;
	}

	.only-content .content-area {
		max-width: 800px;
		margin: 0 auto;
	}

	.primary-sidebar {
		flex: 0 0 300px;
	}
	
	.secondary-sidebar {
		flex: 0 0 180px;
	}
	
	.content-sidebar .content-area,
	.sidebar-content .primary-sidebar,
	.sidebar-content-sidebar .secondary-sidebar,
	.sidebar-sidebar-content .secondary-sidebar,
	.content-sidebar-sidebar .content-area {
		order: 1;
	}

	.content-sidebar .primary-sidebar,
	.sidebar-content .content-area,
	.sidebar-content-sidebar .content-area,
	.sidebar-sidebar-content .primary-sidebar,
	.content-sidebar-sidebar .secondary-sidebar {
		order: 2;
	}

	.content-sidebar-sidebar .primary-sidebar,
	.sidebar-content-sidebar .primary-sidebar,
	.sidebar-sidebar-content .content-area {
		order: 3;
	}
	
	.content-sidebar:not(.boxed) .primary-sidebar,
	.content-sidebar-sidebar:not(.boxed) .primary-sidebar,
	.content-sidebar-sidebar:not(.boxed) .secondary-sidebar,
	.sidebar-content-sidebar:not(.boxed) .primary-sidebar {
		margin-left: 40px;
	}
	
	.sidebar-content:not(.boxed) .primary-sidebar,
	.sidebar-sidebar-content:not(.boxed) .primary-sidebar,
	.sidebar-content-sidebar:not(.boxed) .secondary-sidebar,
	.sidebar-sidebar-content:not(.boxed) .secondary-sidebar {
		margin-right: 40px;
	}
}

@mixin cs--xl() {
	
	.primary-sidebar {
		flex: 0 0 380px;
	}
	
	.secondary-sidebar {
		flex: 0 0 200px;
	}
}

@import "main/page-header";
@import "main/post-wrapper";
@import "main/entry";
@import "main/author";
@import "main/comments";
