/**
 * 6.2 - Captions
 */

.wp-caption {
	max-width: 100%;
	margin-bottom: mrem();
}

.wp-caption img[class*='wp-image-'],
.entry-content .gallery img {
	display: block;
	margin: 0;
}

.wp-caption-text {
	font-size: 14px;
	font-style: italic;
	line-height: 2;
	color: $light__text-color;
	padding-top: mem(0.334);
}
