/**
 * 3.0 - Float Clearing
 */

.author-info:after,
.footer-menu:after,
.gallery:after,
.header-menu:after,
.hentry:after,
.main-navigation:after,
.post-navigation:after,
.site-content:after,
.entry-content:after,
.entry-comments:after,
.widget .search-form:after,
.featured-content:after,
.featured-posts:after {
	display: table;
	clear: both;
	content: '';
}
