/**
 * 9.3 Site Content
 */

.site-content {
	@extend %structure;
	position: relative;
	margin: 0 auto;
	padding-top: 40px;
}

@mixin content--lg() {
	.site-content {
		padding: 40px 0 0;
	}
}

@import "content/content-wrap";
