/**
 * 9.2 Featured Posts
 */

.featured-posts {
	position: relative;
	margin-bottom: 40px;
	padding: 30% 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #eaeaea;
}

.featured-head {
	display: none;
	margin-bottom: 1px;
	padding: 0.5em 1.5em;
	background-color: rgba( 255, 255, 255, 0.7 );
}

.featured-posts .hentry {
	margin-bottom: 0;
	padding: 1.5em;
	background: linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.002) 1.8%,rgba(0,0,0,.008) 4.8%,rgba(0,0,0,.021) 9%,rgba(0,0,0,.042) 13.9%,rgba(0,0,0,.075) 19.8%,rgba(0,0,0,.126) 27%,rgba(0,0,0,.194) 35%,rgba(0,0,0,.278) 43.5%,rgba(0,0,0,.382) 53%,rgba(0,0,0,.541) 66%,rgba(0,0,0,.738) 81%,#000 100%);
}

.featured-wrapper .entry-title {
	text-shadow: 0 -1px 0 rgba(0,0,0,.65);
	color: #fff;
}

a.featured-post-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

a.featured-post-link:hover,
a.featured-post-link:focus {
	border-bottom-width: 0;
	box-shadow: none;
	background-color: rgba( 255, 255, 255, 0.2 );
}

.featured-posts .entry-header {
	margin-bottom: 0;
}

@mixin featured--md() {
	.featured-wrapper .entry-title {
		font-size: 3.5rem;
	}
	
	.featured-posts {
		padding: 24% 0 0;
	}
}

@mixin featured--lg() {
	.featured-posts {
		margin-bottom: 0;
	}

	.featured-content {
		margin-bottom: 40px;
	}

	.multiple-featured-posts .featured-content {
		width: 100%;
	}

	.multiple-featured-posts .featured-posts {
		position: relative;
		display: block;
		float: left;
		padding: 0;
	}

	.multiple-featured-posts .featured-wrapper {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.multiple-featured-posts .featured-head {
		display: none;
	}
	
	.multiple-featured-posts .entry-title {
		font-size: 2.5rem;
	}

	.two-featured .featured-posts {
		width: 49%;
		height: 288px;
		max-height: 288px;
		margin-right: 2%;
	}

	.three-featured .featured-posts {
		width: 32.5%;
		height: 307px;
		max-height: 307px;
		margin-right: 1.25%;
	}

	.two-featured .featured-posts:last-child,
	.three-featured .featured-posts:last-child {
		margin-right: 0;
	}

	.three-featured .entry-title {
		font-size: 2rem;
		line-height: 1.2;
		min-height: 1.2 * 2 * 1rem;
	}
}

@mixin featured--xl() {
	.two-featured .featured-posts {
		height: 345px;
		max-height: 345px;
	}

	.three-featured .featured-posts {
		height: 365px;
		max-height: 365px;
	}
}

@mixin featured--xx() {
	.two-featured .featured-posts {
		height: 385px;
		max-height: 385px;
	}

	.three-featured .featured-posts {
		height: 410px;
		max-height: 410px;
	}
}
