/**
 * 9.1 Site Header
 */

.site-header {
	background-color: $content__bg-color;
}

.site-branding {
	padding: 40px;
	text-align: center;
}

.custom-logo-link:hover,
.custom-logo-link:focus {
	box-shadow: none;
}

h1.site-title,
p.site-title {
	margin-bottom: 0;
	font-family: $font__title;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a {
	color: $body__text-color;
}

.site-title a:hover,
.site-title a:focus {
	box-shadow: inset 0 0 0 currentColor, 0 3px 0 currentColor;
}

.site-description {
	margin-bottom: 0;
}

.wp-custom-header {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.wp-custom-header img {
	display: block;
	margin: 0 auto;
}

.header-items {
	@extend %structure;
}

@mixin h--lg() {
	.aligned.header-items {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.left.header-items {
		flex-direction: row;
	}

	.right.header-items {
		flex-direction: row-reverse;
	}

	.aligned .header-extra {
		flex: 1;
	}

	.aligned .site-branding {
		display: flex;
		text-align: left;
		align-items: center;
	}

	.left .site-branding {
		padding-left: 0;
	}

	.left .custom-logo-link {
		margin-right: 0.875rem;
		order: 1;
	}

	.left .title-area {
		order: 2;
	}

	.right .site-branding {
		padding-right: 0;
	}

	.right .title-area {
		order: 1;
	}

	.right .custom-logo-link {
		margin-left: 0.875rem;
		order: 2;
	}
}

@mixin h--xxxlg() {
	.wp-custom-header {
		max-width: 1280px;
	}
}