/**
 * 2.3 Forms
 */

input {
	line-height: normal;
}

input:focus,
input[type='button'],
input[type='reset'],
input[type='submit'],
textarea:focus {
	transition: all 0.15s ease-in-out;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background-color: $button__bg-color;
	border-width: 0;
	color: $button__text-color;
	font-weight: 700;
	letter-spacing: 0.046875em;
	line-height: 1;
	padding: 1em 1.25em;
	text-transform: uppercase;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: $button__bg-hover;
	cursor: pointer;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	background-color: $input__bg-color;
	border: 1px solid $input__border-color;
	color: $input__text-color;
	padding: 1.25em;
	width: 100%;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	background-color: $input__bg-color-focus;
	border-color: $input__border-color-focus;
	color: $input__text-color-focus;
	outline: 0;
}

.post-password-form {
	margin-bottom: mem();
}

.post-password-form label {
	color: $input__text-color-focus;
	display: block;
	font-size: 13px;
	font-size: mrem(0.5);
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: mem();
	text-transform: uppercase;
}

.post-password-form input[type="password"] {
	margin-top: mem(0.25);
}

.post-password-form > :last-child {
	margin-bottom: 0;
}

.search-form {
	position: relative;
}

input[type='search'].search-field {
	width: calc(100% - 42px);
	border-radius: 2px 0 0 2px;
}

.search-submit {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	width: 42px;
	padding: 0;
	border-left-width: 0;
	border-radius: 0 2px 2px 0;
}
