$body__text-color: #333;
$body__bg-color: #f2f2f2;

$content__bg-color: #fff;

$link__text-color: #006eb8;
$link__hover-color: #006eb8;

$border__color: #e6e6e6;

$light__bg-color: #f9f9f9;
$light__text-color: #606060;

$button__bg-color: #333;
$button__bg-hover: $link__text-color;
$button__text-color: #fff;

$input__bg-color: #fff;
$input__border-color: $border__color;
$input__text-color: $light__text-color;

$input__bg-color-focus: #fff;
$input__border-color-focus: $link__text-color;
$input__text-color-focus: $body__text-color;
