$font__main: 'Noto Sans', Helvetica Neue, Helvetica, Arial, sans-serif;

$font__code: monaco, Consolas, 'Lucida Console', monospace;

$font__title: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;

$magic__number: 1.75;
