$font__main: 'Sintony', Helvetica Neue, Helvetica, Arial, sans-serif;

$font__code: monaco, Consolas, 'Lucida Console', monospace;

$font__title: 'Archivo Narrow', Helvetica Neue, Helvetica, Arial, sans-serif;

$magic__number: 1.75;
