/**
 * 8.4 - Footer menu
 */

#footer-menu .nav-menu {
	display: block;
}

#footer-menu .menu-item {
	display: inline-block;
}

#footer-menu .menu-item a {
	padding: 0 1em mem();
}

#footer-menu .menu-item-has-children:hover,
#footer-menu .menu-item-has-children a:focus,
#footer-menu .page_item_has_children:hover,
#footer-menu .page_item_has_children a:focus {
	background-color: transparent;
}

#footer-menu .menu-item-has-children > a,
#footer-menu .page_item_has_children > a {
	margin-right: 0;
}
