/**
 * 8.4 - Post pagination and navigation
 */

.navigation {
	clear: both;
	margin: 0 auto 40px;
}

.nav-links a {
	color: $light__text-color;
	margin-top: 1px;
	background-color: $content__bg-color;
	border-width: 0;
}

.page-numbers {
	display: inline-block;
	padding: 0.5em 1.25em;
	margin-top: 1px;
	background-color: $content__bg-color;
}

.nav-next a,
.nav-previous a {
	display: block;
	padding: 40px;
}

.nav-links a:hover,
.nav-links a:focus,
.page-numbers.current {
	color: $body__text-color;
	box-shadow: none;
	text-shadow: 1px 0 0 currentColor;
}

.meta-nav {
	background: transparent;
	color: $light__text-color;
	display: block;
	font-size: 0.6875rem;
	letter-spacing: 0.1818em;
	margin-bottom: mrem(0.5);
	text-transform: uppercase;
}

.page-links {
	margin: 0 0 mrem();
}
