/**
 * 8.2 - Primary menu
 */

@mixin primary-nav--lg() {
	#main-navigation {
		border-top: 1px solid $border__color;
		text-align: center;
	}
	
	.wp-custom-header + #main-navigation,
	.wp-custom-header + .nav-placeholder #main-navigation {
		border-top-width: 0;
	}

	#main-navigation.left  {
		text-align: left;
	}

	#main-navigation.right {
		text-align: right;
	}

	.left #primary-menu {
		position: relative;
		left: -1.25em;
	}

	.right #primary-menu {
		position: relative;
		right: -1.25em;
	}
	
	.right #primary-menu .menu-item:hover > .sub-menu,
	.right #primary-menu .menu-item.focus > .sub-menu {
		right: 0;
	}

	.right #primary-menu .sub-menu .menu-item:hover > .sub-menu,
	.right #primary-menu .sub-menu .menu-item.focus > .sub-menu {
		right: 224px;
		left: auto;
	}
	
	.fixed-nav .site-navigation-fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 999;
		border-bottom: 1px solid #e6e6e6;
	}
					
	.fixed-nav .site-navigation-fixed .nav-menu .menu-item a {
		padding-top: mrem(0.5);
		padding-bottom: mrem(0.5);
		-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
	}

	.admin-bar .fixed-nav .site-navigation-fixed {
		top: 32px;
	}

	.fixed-nav .nav-placeholder {
		min-height: ( 2.5 + $magic__number ) * 1rem;
		max-height: ( 2.5 + $magic__number ) * 1rem;
	}
}
